pylint==4.0.9
pytest==9.1.1
isort==9.0.2
Pillow==12.3.0
Django==6.1.1
requests==2.34.2
pydocstyle==6.3.0
pycodestyle==2.15.0
django-taggit==6.1.0
channels-redis==4.3.0
Markdown==3.11
channels==4.3.2
psycopg2-binary==2.9.13
django-braces==1.17.0
django-embed-video==1.4.10
python-memcached==1.62
django-memcache-status==2.3
djangorestframework==3.18.1
