pylint==4.0.5
pytest==9.1.1
isort==8.0.1
Pillow==12.2.0
Django==6.0.4
requests==2.33.1
pydocstyle==6.3.0
pycodestyle==2.14.0
django-taggit==6.1.0
channels-redis==4.3.0
Markdown==3.10.2
channels==4.3.2
psycopg2-binary==2.9.11
django-braces==1.17.0
django-embed-video==1.4.10
python-memcached==1.62
django-memcache-status==2.3
djangorestframework==3.17.1
