{% extends 'base.html' %}
{% load cache %}

{% block title %}{{object.title }}{% endblock %}

{% block content %}
<h1>{{object.title}}</h1>
<div class="contents">
    <ul class="modules">
        {% for m in object.modules.all %}
            <li data-id="{{m.id}}" {% if m == module %} class="selected" {% endif %}>
                <a href="{% url 'edx:student:student_course_detail_module' object.id m.id %}">
                    <span>Module
                    <span class="order">{{m.order|add:1}}</span>
                    </span>
                    <br>
                    {{ m.title }}
                </a>
                <h3>
                    <a href="{% url 'edx:chat:course_chat_room' object.id %}">Course Chat</a>
                </h3>
            </li>
        {% empty %}
            <li>No Modules yet.</li>
        {% endfor%}
    </ul>
</div>
<div class="module">
    {% cache 600 module_contents module %}
    {% for content in module.contents.all %}
        {% with item=content.item %}
            <h2>{{item.title}}</h2>
            {{item.render}}
        {% endwith %}
    {% endfor %}
    {% endcache %}
</div>
{% endblock %}