{% extends "blog/base.html" %}
{% load blog_tag %}
{% block title %} {{post.title}}'s Details {% endblock %}

{% block content %}
<div class="content-details">
    <h1 class="details-title">{{post.title}}</h1>
    <p class="date">
        Published {{ post.published }} by {{post.author.first_name}}
    </p>
    {{post.body|linebreaks}}
    <p>
        <a href="{% url 'blog:posts:share_post' post.id %}">Share</a>
    </p>
    <span class="count">
        {{total_views}} view{{total_views|pluralize}}
    </span>
    <div class="likes">
        <span>Total Likes: <p class="likes-count">{{post.likes}}</p></span>
        <a href="#" data-id="{{post.id}}" data-action="like" class="like-button">Like Post</a>
        <a href="#" data-id="{{post.id}}" data-action="unlike" class="unlike-button">UnLike Post</a>
        <button class="btn-like">Like Post</button>
    </div>
    <div class="recommendation">
        {% if related_posts %}
            <h2>Similar Posts</h2>
            {% for post in related_posts %}
                <p>
                    <a href="{{ post.get_absolute_url }}">{{post.title}}</a>
                </p>
            {% endfor %}
        {% endif %}
    </div>

    {% with comments.count as total_comments %}
        <h2>
            {{total_comments}} comment{{total_comments|pluralize}}
        </h2>
    {% endwith %}

    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Comment {{forloop.counter}} by {{comment.name}} {{ comment.created }}
            </p>
            {{comment.body|markdown}}
        </div>
    {% empty %}
        <p>There are no comments yet.</p>
    {% endfor %}

    <div class="comment-form">
        {% if new_comment %}
            <p>Your comment has been added </p>
        {% else %}
            <form method="post">
                {{ comment_form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Add Comment"></p>
            </form>
        {% endif %}
    </div>
    <div class="js-action-block">
        {% block domready %}
            $("a.like-button").click(function(e){
                console.log("Clicked Like")
                e.preventDefault();
                $.post("{% url 'blog:posts:like_post' %}", {
                    id: this.dataset.id,
                    action: 'like'
                }, function(data){
                    console.log("Response returned ", data)
                    if (data['status'] === 'Ok') {
                        $(".likes-count").text(data['count'])
                    }
                });
            });
            $("a.unlike-button").click(function(e){
                e.preventDefault();
                console.log("removing count")
                $.post('{% url "blog:posts:like_post" %}', {
                    id: this.dataset.id,
                    action: 'unlike'
                }, function(data){
                    if (data['status'] == 'Ok') {
                        $(".likes-count").text(data['count'])
                    }
                }
              );
            });
        {% endblock %}
    </div>
</div>
{% endblock %}
